.body {
   background-color: #ffffff;
    margin: 20px;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3d3b81;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}
.container p {
    font-family: "helvetica", sans-serif;
    color: #fff;
    line-height: 1.6;
   
}
.container-texto {
    font-family: Helvetica, regular;
    color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #353550;
    border: 5px solid #6d6d6d;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(107, 107, 107, 0.2);
}

.container-texto-2 h2 {
    font-family: Helvetica, regular;
    color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #353550;
    border: 5px solid #6d6d6d;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(107, 107, 107, 0.2);
}
.container-texto-2 p {
    font-family: Helvetica, regular;
    color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #353550;
    border: 5px solid #6d6d6d;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(107, 107, 107, 0.2);
}

    .container-2{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3d3b81;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 .container-2 h1 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}
    .container-2 p {
    font-family: "helvetica", sans-serif;
    color: #fff;
}

.container-2 p {
    color: #fff;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}


.container-3 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3d3b81;
    border-radius: 8px;
    box-shadow: 0 0 10px #fff(252, 244, 244, 0.1);
    line-height: 1.6;

}

.container-3 h1 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}

.container-3 p {
    font-family: "helvetica", sans-serif;
    color: #fff;
}
.container-3 h2 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}

.container-4 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3d3b81;
    border-radius: 8px;
    line-height: 1.6;
}


.container-4 h1 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}
.container-4 p {
    font-family: "helvetica", sans-serif;
    color: #fff;
}

.container-4 h2 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}

.container-5 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3d3b81;
    border-radius: 8px;
    line-height: 1.6;
}

.container-5 h1 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}

.container-5 p {
    font-family: "helvetica", sans-serif;
    color: #fff;
}

.container-6{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #9c99f3;
    line-height: 1.6;
    border-radius: 8px;
    

}
.aluno {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: left;
 
}
.professor {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: left;
   
}
.turma {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: left;
    line-height: 1,6;