.body {

    margin: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3d3b81;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
    font-family: "helvetica", sans-serif;
    color: #fff;
    text-align: center;
}
.container p {
    font-family: "helvetica", sans-serif;
    color: #fff;
    line-height: 1.6;
   
}
.container-texto {
    font-family: Helvetica, regular;
    color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #353550;
    border: 5px solid #6d6d6d;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(107, 107, 107, 0.2);
}

.container-texto-2 h2 {
    font-family: Helvetica, regular;
    color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #353550;
    border: 5px solid #6d6d6d;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(107, 107, 107, 0.2);
}
.container-texto-2 p {
    font-family: Helvetica, regular;
    color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #353550;
    border: 5px solid #6d6d6d;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(107, 107, 107, 0.2);
}
    
